$headline-bg-color: #30107D;
$headline-btn-bg-color: #401A9B;
$headline-btn-color: #FFF;
$headline-btn-hover-color: #0F084B;

$page-bg-color: #F1F5F8;
$page-color: #B9B9B9;

$card-bg-color: #FFFFFF;
$card-title-color: #484F55;
$card-value-color: #4E5555;
$card-total-bg-color: #06D6A2;
$card-total-color: #FFF;

$table-head-color: #B9B9B9;
$table-bg-color: #FFFFFF;
$table-color: #4C5A5A;
$table-value-in-color: #06D7A5;
$table-value-out-color: #DB3766;

