@import "../../assets/scss/variaveis.scss";

.container {
    width: auto;
    height: 140px;
    padding: 30px;
    border-radius: 8px;
    border-style: none;
    font-size: large;
}

.default {
    background-color: $card-bg-color;
    color: $card-value-color;

    .title {
        color: $card-title-color;
    }
}

.all {
    background-color: $card-total-bg-color;
    color: $card-total-color;
}

.title {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.value {
    margin-top: 20px;
    font: 1.5em "Fira Sans", sans-serif;
    font-weight: 600;

    @media all and ( min-width: 576px ) and ( max-width: 992px ) {
        font: 0.75em "Fira Sans", sans-serif;   
        font-weight: 600;     
    }
}