@import "../../assets/scss/variaveis.scss";

.bg {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgb(0, 0, 0, 0.7);
    z-index: 1000;
}

.modal {
    width: 80%;
    min-width: 280px;
    max-width: 400px;
    padding: 20px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #FFF;
    color: #000;
    border-radius: 8px;
}

.closeBtn {
    right: 20px;
    top: 20px;
    position: fixed;
    overflow: hidden;
    border: none;
    padding: 0;
    width: 2em;
    height: 2em;
    border-radius: 50%;
    background: transparent;
    color: #000;
    font: inherit;
    text-indent: 100%;
    cursor: pointer;

    &:hover {
        color: #f00;
    }

    &:before,
    &:after {
        position: absolute;
        top: 15%;
        left: calc(50% - .0625em);
        width: .125em;
        height: 70%;
        border-radius: .125em;
        transform: rotate(45deg);
        background: currentcolor;
        content: ''
    }

    &:after {
        transform: rotate(-45deg);
    }
}